.contacts{
	background-color: var(--ac);
	.h2{
		background: none;
		color: white;
		-webkit-text-fill-color: white;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}
.contacts-content{
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap:remy(30);
	@media (max-width: remy(991)) {
	  grid-template-columns: 1fr 1fr;
	}
	@media (max-width: remy(767)) {
		grid-template-columns: 1fr;
	}
	
}
.address-block{
	padding: remy(40);
	background-color: #fff;
}
.address-block__item{
	margin-bottom: 12px;
	span:first-child{
		font-weight: 700;
		display: inline-block;
		padding-right: 5px;
		line-height: 2;
	}
}
.map-wrapper{
	height: remy(400);
	@media (max-width: remy(767)) {
	  height: remy(220);
	}
}
.blue-link{
	font-weight: 700;
	color: #40a7e3;
}