.logo{
	width: remy(100);
	height: remy(100);
	padding: remy(8);
	margin-right: auto;
	background-color: var(--ac);
	flex-shrink: 0;
	border-radius: 50%;
	border: 3px solid #e7c881;
	outline: 10px solid var(--ac);
	position: relative;
	top:remy(10);
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		
	}

	@media (max-width: remy(991)) {
		width: remy(60);
		height: remy(60);
		padding: remy(8);
		top: remy(5);
	}

}
.header-container{
	width: 100%;
	max-width: remy(1390);
	padding-inline: remy(16);
	margin: 0 auto;
}
.header{
	position: relative;

}
.header-nav{
	height: remy(101);
	background-color: white;
	color: white;
	background-color: var(--ac);
	position: relative;
	z-index: 5;
	position: sticky;
		top: 0;
		z-index: 5;
	&__btn{
		column-gap:remy(40);
		margin-left: remy(73);
		
		@media (max-width: remy(1439)) {
			margin-left: 2.5rem;
		}
		@media (max-width: remy(1199)) {
			margin-left: 1.5rem;
			column-gap: 1.5rem;
		}
		
		@media (max-width: remy(991)) {

			.btn-outline{display: none;}
		}
	}
	@media (max-width: remy(991)) {height: remy(64);}
}
