.services{
	background-color: #f7edc7;
	position: relative;
	
}
.rotate-180 {
	transform: scaleY(-1);
	bottom: remy(-25);

}
.services-groups{
	display: flex;
	justify-content: center;
	gap: remy(50) ;
	flex-wrap: wrap;
}
.group-card{
	width: remy(360);
	border-radius: remy(12);
	background-color: #ffc107;
	text-align: center;
	font-size: remy(20);
	font-family: 'Montserrat-Medium';
	color: white;
	overflow: hidden;
	&__img{
		height: remy(240);
	}
	img{
		width: 100%;
		height: 100%;
	}
	&__text{
		padding: 1rem;

	}
}
.group-card.bg-accent{
	background-color: var(--ac);
}
