section.about#about
	.container-fluid
		.about-content
			.about-content__foto
				.foto-first
					img.lazy(src="./img/about1.webp", width="300" height="300" alt="img")
				.foto-two
					img.lazy(src="./img/about2.webp", width="370" height="370" alt="img")
				.foto-three
					img.lazy(src="./img/about3.webp", width="200" height="200" alt="img")

			.about-content__desk
				h2.h2 О нас
				.about-content__text.js-group
					p Детский сад Детское королевство придёт на помощь всем родителям, чьи непоседы подросли и готовы делать первые шаги в самостоятельную жизнь. Специалисты садика станут вашими верными помощниками в воспитании, а для ребятишек они будут лучшими друзьями, которые всегда готовы выручить. Многие дети трудно переносят период адаптации к новому месту, однако персонал садика готов заверить: здесь сделают всё, чтобы кроха без проблем стал частью команды и нашёл товарищей. Пройдёт немного времени — и ваш непоседа сам будет весело бежать в сад! 
					
					.about-content__hide.js-btn-target
						p Занятия здесь проходят в формате игры, поэтому дети с любопытством изучают всё новое. Если ваш малыш из тех, кто не сидит на месте, или, наоборот, обладает весьма скромным характером, и ему сложно поладить с другими, обязательно сообщите про эти особенности воспитателям — они отыщут ключик к любому ребёнку и примут все меры, чтобы ему нравилось в садике.

						p Вам бы хотелось, чтобы малыш с раннего детства стал творческой личностью? В Детском саде Детское королевство его с радостью научат рисованию, лепке, а также музыке.

						p Марзия Рамильевна Чадаева, Лариса Леонидовна Газиева — эти сотрудники уже более 10 лет работают с детьми, и можете не сомневаться: они по-настоящему любят свою работу!
					
					button.js-btn.btn-more.text-contrast Читать еще...
