section.contacts#contacts
	.container
		h2.h2 Как нас найти:
		.contacts-content
			.address-block
				.address-block__item
					span Адрес:
					a.blue-link(href="https://yandex.ru/maps/?um=constructor%3Aec152a6a005312b3185cf1b69e6bb8aeb6efd5b13c5565e3734e0af4b9570708&source=constructorLink" target="_blank") ЧР, Грозный, 3-й Мельничный переулок, 3
				.address-block__item
					span Время работы:
					span Пн-пт: 08:00—18:30
				.address-block__item
					span Телефон:
					a.blue-link(href="tel:+79899400381") +7 (989) 940-03-81
				.address-block__item
					span Мы на связи в 
					a(href="https://t.me/Detskoe_korolewstwoG"  target="_blank").blue-link Telegram
			.map-wrapper
				script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aec152a6a005312b3185cf1b69e6bb8aeb6efd5b13c5565e3734e0af4b9570708&width=100%25&height=100%&lang=ru_RU&scroll=false")
