section.price#price
	.container
		h2.h2.text-center Цены на услуги
		.price-desk
			p Мы создаем все условия для комфортного пребывания и гармоничного развития Ваших деток. В течении дня интенсивные интеллектуальные занятия чередуются с физ.минутками, играми и занятиями на расслабление и переключение внимания.  Все это сопровождается обязательным развитием основных психологических процессов и освоением необходимых навыков и умений согласно требованиям, предъявляемых к возрасту ребятишек.

			p В программу  включены такие направления, как
			ul

				li Ознакомление с математическими представлениями
				li Обучение чтению и грамоте
				li Развитие мелкой моторики руки и подготовка к письму
				li Ознакомление с окружающим миром
				li Конструирование
				li Развитие речи и ознакомление с художественной литературой
				li Развитие основных психологических процессов (памяти, внимания, мышления, воображения и пр)
				li Рисование

				li Хореография

			p Ребята получат мощный толчок к развитию личности, приучатся к самостоятельности, разовьют творческие способности и приобретут новые знания и умения.

			p В течение дня мы предлагаем деткам сбалансированное 4-разовое питание, соответствующее всем необходимым стандартам.

		.price-list
			h3.text-center Мы предлагаем два тарифа:
			ul.price-list-types
				li
					p Группа полного дня
					span.border-dashed
					span.price-amount 12 000 руб
				li
					p Группа полного дня с доставкой до дома
					span.border-dashed
					span.price-amount 14 000 руб