section.programms#programms
	.container
		h2.h2.text-center Образовательные программы
		
		.programm-card__wrapper
			.programm-card
				a( target="_blank" href="programm.pdf")
					h3 Основная программа
					img.lazy(src="./img/programm.webp", alt="img")
				
				.programm-card__flex
					a.programm-link( target="_blank" href="programm.pdf") Смотреть
					//- a.programm-dwl(href="programma-Chadaeva.zip" download) Скачать 

			.programm-card
				a(  target="_blank" href="programm-add.pdf")
					h3 Дополнительная  программа
					img.lazy(src="./img/programm.webp", alt="img")
				.programm-card__flex
					a.programm-link(  target="_blank" href="programm-add.pdf") Смотреть
					//- a.programm-dwl(href="programma_Chadaeva-dopolnitelnya.zip" download) Скачать 