section.review
	.container
		//  zoon widget start 
		.zoon-widget-comments(data-id="6105b053f919641abd34ee87", data-locale="ru_RU", data-type="list", data-stars="all", data-style="light")
		a(href="https://zoon.ru/service/6105b053f919641abd34ee87/") Детский сад Детское королевство
		a(href="https://zoon.ru/grozny/kindergarten/type/logika/") Детские сады с занятиями по логике
		script(src="https://zoon.ru/jsext/widget_comments.js?v=4.4")
		//  zoon widget end 