
@function remy($pxsize) {
  
  @return calc(($pxsize/16))+rem;
}

*, *:before, *:after {
	box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  }
  body{
    --ac:#77000e;
    --subAc: #FFC1D8;
    --outBr: #FFDAE7;
    --darkAc:#0b9056;
    --contrast: #58CB3A;
    --contrastLight: #166202;
  }
  body.green-theme {
    --ac: #26D68A;
    --subAc: #9BE8C7;
    --outBr: #a1e7c9;
    --darkAc: #0b9056;
  }
  

  html {
	scroll-behavior: smooth;
  scroll-padding-top: remy(30);
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat-Regular',sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: white;
  }
 .lock{
    overflow: hidden;
 }
  a,
  a:hover {
	  text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	  padding: 0;
	  margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
  }
button, a{
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
button,
input,
button:focus, 
input:focus {
  border: none;
  outline: none;
  background: none;
  padding: 0;
 
}
.accent-span {
  color: var(--subAc)!important;
}
.d-flex{
  display: flex;
  align-items: center;
}
.container{
  width: remy(1470);
  padding-inline: remy(16);
  margin: 0 auto;
  @media(max-width:remy(1919)){
    width: remy(1390);
  }
  @media(max-width:remy(1439)) {
    width: remy(1170);
  }
  @media(max-width:remy(1199)) {
    width: remy(960);
  }
  @media(max-width:remy(991)) {
    width: remy(730);
  }
  @media(max-width:remy(767)) {
    width: remy(540);
  }
  @media(max-width:remy(574)) {
    width: 100%;
  }
}
.container-fluid{
  width: 100%;
  max-width:remy(1470);
  padding-inline: remy(48);
  margin: 0 auto;
  @media(max-width:remy(991)) {
    padding-inline: remy(16);
  }
}
section{
  padding-block: remy(100);
  @media (max-width: remy(767)) {
      padding-block: remy(50);
  }
}
.js-btn-target{display: none;}
.js-btn-target.active {
  display: block;
}
.zoon-widget-comments ~ a{display: none;}
.pulse {
  position: fixed;
  font-size: 30px;
  z-index: 5;
  top: 40%;
  right: remy(10);
  transform: translateY(-50%);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  background: goldenrod;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  @media (max-width: remy(767)) {
      top:auto;
      bottom: 15%;
     
  }

}
.pulse svg{
  width: 30px;
  height: 30px;
  fill: firebrick;
  color: firebrick;
}
.pulse:before,
.pulse:after {
  content: '';
  position: absolute;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 2px solid rgba(249, 208, 0, .85);
  animation: pulse 1.8s linear infinite;
  z-index: -1;
}

.pulse:before {

  animation-delay: .5s;
}

@keyframes pulse {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}