extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_about.pug
	include ../sections/_services.pug


	
	
	
block variables
	-var title = "Детское Королевство";
